.heroGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.heroCell {
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 1rem;
}
